body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #0bb;
    color: #fff;
    line-height: 1.6;
}


 p, h2 {
    pad
    height: 60px;
    margin: auto;
    color: #ddd;
}

.buttom-carrito {
    width: 150px;
    height: 50%;
    padding: 20px 20px;
    margin: 20px 20px;
    background-color: #48e;
    color: #dddf;
    border: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 0.4em;
}

.imagen-1, .imagen-2, .imagen-3, .imagen-4 {
width: 150px; 
height: auto; 
display: block; 
margin-bottom: 10px;
}

.imagen-carrito {
    width: 40%; 
    max-width: 200px; 
    display: block; 
    margin-bottom: 10px;
}


body, div, header, nav, ul, h1, h2, p, img {
    box-sizing: border-box;
}

/*HEADER SECTION*/

.header {
    min-height: 100vh;
    box-sizing: border-box;
    background-image: url("librocastillo.gif");
    block-size: cover;
    display: flex;

   
}

.header__overlay {
    min-height: 100vh;
    width: 100%;
    background-color: #0006;
    position: absolute;
    z-index: 1;
}

.header__item-container {
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 700px;
}

.header__item-container p {
    text-wrap: pretty;
}


.header__img {
    min-width: 250px;
    max-width: 40%;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: 20px;
}

h1 {
    margin: 0;
    font-size: 3.6rem;
    text-wrap: balance;
}

/*NAVBAR SECTION*/

.nav {
    background-color: #000f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   padding: 6px 20px;
   position: sticky;
   top: 0;
   margin-bottom: 10px;
   box-shadow: 0 0 25px #0006 ;
}

.nav_ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.nav_item {
    list-style: none;
}

.nav__ul-container {
    flex-grow: 4;
}

.nav__logo-container, .nav__ul-container {
    flex-grow: 1;
    text-align: center;
}
.nav-link {
    color: #0bb;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0%;
    transition: background-color 0.3s, border-radius 0.2s, outline 0.2s, outline-offset 0.2s;
    margin: 2px;
    outline: 0;
    outline-offset: 0;
}

.nav-link:hover {
    background-color:#0bb4;
    border-radius: 20px;
    outline: 2px solid #0bb6;
    outline-offset: -7px;
    
}

.link--Acceder {
    background-color: #0bb;
    color: #ddd;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;
}

.link--Acceder:hover {
    background-color: #19ff;
    outline: none;
}

.nav_logo {
    width: 70px;
}

/*MAIN SECTION*/

main {
    max-width: 600px;
    margin: auto;
    font-size: 30px;
    text-wrap: pri;
}