body {
    margin: 0;
    font-family: sans-serif;
     color: #eee;
    background-color: #222;
    
    
}
.nav {
    background-color: #000f;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   padding: 6px 20px;
   position: sticky;
   top: 0;
   margin-bottom: 10px;
   box-shadow: 0 0 25px #0006 ;
}

.nav_ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}


.nav_item {
    list-style: none;
}

.nav__ul-container {
    flex-grow: 4;
}

.nav__logo-container, .nav__ul-container {
    flex-grow: 1;
    text-align: center;
}
.nav-link {
    color: #0bb;
    text-decoration: none;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 0%;
    transition: background-color 0.3s, border-radius 0.2s, outline 0.2s, outline-offset 0.2s;
    margin: 2px;
    outline: 0;
    outline-offset: 0;
}
.nav-link:hover {
    background-color:#0bb4;
    border-radius: 20px;
    outline: 2px solid #0bb6;
    outline-offset: -7px;
    
}
.nav_logo {
    width: 70px;
}


h1 {
    color: #fff;
    text-align: center;
    align-items: center;
}
.link--Acceder {
    background-color: #0bb;
    color: #ddd;
    border-radius: 20px;
    padding: 8px 24px;
    margin-left: 6px;
}
.link--Acceder:hover {
    background-color: #19ff;
    outline: none;
}

.footer {
    color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    width: 180px;
    padding: 15px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 15px;
    letter-spacing: 2px;
    position: relative;
}

/* ------WAVE BUTTON ------ */


/* ------ NEON BUTTON ------*/

.button-container:has(.btn-2) {
    filter: drop-shadow(0px 0px 20px #48e)
    drop-shadow(0px 0px 4px #48e);
}

.btn-2 {
    border: 1px solid #fff3;
    color: #fff3;
}

.btn-2:hover {
    animation: parpadear 1s infinite alternate backwards;
}

.btn-2::before {
    content: '';
    background-color: #48e;
    display: block;
    height: 1px;
    width: 20%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    top: -16px;
    transition: top .6s, opacity .6s, width .2s;
    animation: parpadear-linea 1s infinite alternate backwards;
}

.btn-2:hover::before {
    opacity: 1;
    top:-5px;
    width: 80%;
}

.btn-2::after {
    content: '';
    background-color: #48e;
    display: block;
    height: 1px;
    width: 10%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    top: -19px;
    transition: top .6s, opacity .6s, width .6s;
    animation: parpadear-linea 1s infinite alternate-reverse backwards;
}

.btn-2:hover::after {
    opacity: 1;
    top:-9px;
    width: 50%;4
}

@keyframes parpadear {
    0% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    25% {
        border-color: #48e;
        color: rgba(111, 168, 255);
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.54);
    }

      30% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    35% {
        color: rgba(111, 168, 255);
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.54);
    }

      46% {
        color: #fff3;
        border: 1px solid #fff3;
        text-shadow: none;
        box-shadow: none;
    }

    60% {
        border-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
    }
    78% {
        border-color: #48e;
        color: rgba(111, 168, 255);
        box-shadow: none;
        text-shadow: none;
    }

    100% {
        color: rgba(111, 168, 255);
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.54);
}
}


@keyframes parpadear-linea {
    0% {
        background-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
    }

    25% {
        background-color: #fff3;
        box-shadow: none;
    }

      30% {
        background-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
    }

    35% {
         background-color: #fff3;
        box-shadow: none;
    }

      46% {
        background-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e5;
    }

    60% {
        border-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e5;
    }
    78% {
        background-color: #48e;
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e5;
    }

    100% {
        color: rgba(111, 168, 255);
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.54);
}
}


@media (prefers-reduced-motion: reduce) {
    .btn .btn::before, .btn::after {
        animation: none;
        
    }
}

.footer__item {
font-size: 20px;
    color: #eee;
    text-align: center;
    
}