@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    background-color:rgb(255, 208, 0);
    font-family: "Poppins", sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: url(images/lafísica.png);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 400px 0 0 0;
    width: 80%; text-align: left; padding;
}

.menu{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color:brown;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu .navbar ul li{
position: relative;
float: left;
}


.menu .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color:rgb(245, 9, 9);
    display: block;
    font-weight: 20;
}

.menu .navbar ul li a:hover{
    color:rgb(25, 5, 245);
}

#menu{
display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-content{
display: flex;
}

.header-txt {
width: 50%;
}

.header-txt h1{
    font-size: 70px;
    line-height: 85px;
    color:brown;
    margin-bottom: 20px;
}

.header-txt span{
font-size: 90px;
color:brown;
}

.header-txt p{
font-size: 16px;
color:brown;
margin-bottom: 30px;
}

.header-img {
width: 50%;
text-align: center;
}

.header-img{
width: 550px;
}

.buttons{
display: flex;
}

.btn-1{
display: inline-block;
padding: 13px 20px;
border: 1px solid rgb(248, 246, 246);
color: brown;
border-radius: 30px;
margin-right: 30px;
font-size: 16px;
text-transform: capitalize;
}

.btn-1 :hover{
background-color: rgb(244, 4, 4);
color: rgb(249, 9, 9);
}

.menu-pl{
padding: 0 0 100px 0;
}

h2{
font-size: 50px;
color:blue;
margin-bottom: 40px;
}

span{
color: rgb(251, 6, 6);
}

.general-content{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 35px;
}

.general-txt{
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 35px;
}

.general-txt img{
border-radius: 25px 25px 0 0;
width: 100%;
height: 250px;
}

.general-txt h3{
font-size: 20px;
color: #0e0e0e;
padding: 25px 25px 10 25px;
}

.general-txt p{
    font-size: 16px;
    color:rgb(245, 243, 243);
    padding: 0 25px 20px 25px;
}

.about{
    padding: 20px 0;
    margin-bottom: 200px;
    background-color: rgb(208, 252, 13);
}

.about-content{
    display: flex;
}

.about-text{
    width: 50%;
}

.about-text h2{
    color: #e9ece1;
}

.about-text p{
    font-size: 16px;
    color: beige;
    margin-bottom: 30px;
}

.about-img{
    width: 50%;
    text-align: right;
}

.about-img img{
    width: 100%;
}

.info{
    padding-bottom: 100px;
    display: flex;

}

.info-img{
    width: 50%;
}

.info-img{
    border-radius: 25px;
    width: 400PX;
}

.info-text{
    width: 50%;
    padding-left: 55px;
}

.info-text p{

    font-size: 16px;
    color: rgb(236, 4, 4);
    margin-bottom: 35px;
}

.footer{
    padding: 50px 0;
    background-color: #292933;
}

.footer-content{
    display: flex;
    justify-content:space-between;
}

.link h3{
    color:#ff0303;
    font-size: 18px;
    margin-bottom: 15px;
} 

.link a {
    color:#dcdde2;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

.link a :hover {
    color:#ff0303;
}

@media (max-width: 991px){
    .menu  {
    padding: 30px;
}
}
.menu label{
    display: initial;
}

.menu .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: none;
    display: none;
}

.menu .navbar ul li{
    width: 100%;
}

#menu:checked ~ .navbar{
    display: initial;
}

.header{
    min-height: 0vh;
}

.header-content{
    flex-direction: column;
    padding: 30px 30px 50px 30px;
    text-align: center;
}

.header-txt{
    width: 100%;
}

.header-txt span {
    font-size: 70px;
}

.header-img{
    width: 100%;
} 

.header-img img{
    width: 100px;
}

.buttons{
    justify-content: center;
}

.btn-1{
    margin: 0 10px;
}

.menu-pl{
    padding: 0 30px 30px 30px;
}

.general-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.about{
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.about-content{
    flex-direction: column;
}

.about-text{
    width: 100%;
}

.about-text p{
 margin-bottom: 0;
}

.about-img{
    width: 100%;
    text-align: center;
}

.info{
    padding: 30px;
    flex-direction: column;
}

.info-img{
    width: 100%;
}

.info-img img{
    width: 100%;
}

.info-text{
    width: 100%;
    padding-left: 0;
    text-align: center;
}

.footer{
    padding: 30px;
    text-align: center;
}

.footer-content{
    flex-direction: column;
}

.buttons{
    color: #ff0303;
}

