#contenedor-principal {
    color: rgb(233, 229, 229);
    padding: 5px;
    font-size: 13px;
    background-color: rgb(13, 13, 13);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}


.rectangulo {
    padding: 5px;
    margin: 5px;
}

.px {
    background-color: rgb(229, 49, 85);
    width: 200px;
}

.vw {
    background-color: blue;
    width: 20vw;
}

.em {
    background-color: green;
    width: 15em;
}

body {
    background-color: rgb(10, 10, 10);
    width: 100%;
    padding: 0%;
    margin: 0%;
    font-size: 100%;

}

#tipos-de-lenguajes {
    background-color: brown;
    width: 400px;
    padding: 5px;
    margin: 15px;
}

#desarrollo-de-software {
    background-color: brown;
    width: 625px;
    padding: 15px;
    margin: 20px;
}

#display-flex {
    background-color;
}

.javascript {
    font-size: 25px;
    background-color: rgb(209, 23, 23);
    width: 100px;
    height: 20px;
    align-self:normal;
}

.phyton {
    font-size: 25px;
    background-color: brown;
    width: 100px;
    height: 20px;
    align-self: normal;
}

.CC {
font-size: 25px;
background-color: brown;
width: 100px;
height: 20px;
align-self: normal;
}

.ruby {
font-size: 25px;
background-color: brown;
width: 100px;
height: 20px;
align-self: normal;
}

.go {
font-size: 25px;
background-color: brown;
font-family: Verdana, Geneva, Tahoma, sans-serif;
width: 100px;
height: 20px;
align-self: normal;
}

.java {
    font-size: 25px;
background-color: brown;
width: 100px;
height: 20px;
align-self: normal;
}

/*CENTRANDO TITULOS Y DANDOLE COLOR*/

.javascript{
display: flex;;
width: 0; /* Define el ancho del título */
  margin: 0%; /* Centra el título horizontalmente */
color: #d61414;
}

.phyton {
    display: flex;;
    width: 0; /* Define el ancho del título */
      margin: 0%; /* Centra el título horizontalmente */
    color: #d61414;
}

.CC {
    display: flex;;
    width: 0; /* Define el ancho del título */
      margin: 0%; /* Centra el título horizontalmente */
    color: #d61414;
}

.ruby {
    display: flex;;
    width: 0; /* Define el ancho del título */
      margin: 0%; /* Centra el título horizontalmente */
    color: #d61414;
}

.go {
    display: flex;;
    width: 0; /* Define el ancho del título */
      margin: 0%; /* Centra el título horizontalmente */
    color: #d61414;
}

.java {
    display: flex;;
    width: 0; /* Define el ancho del título */
      margin: 0%; /* Centra el título horizontalmente */
    color: #d61414;
}