body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ddda;
    color: #333;
    line-height: 1.6;
}

h1, p, h2 {
    margin: 5px 5px;
    color: #555;
}

.imagen-principal {
    width: 100%;
    height: 200px;
}

.imagen-1, .imagen-2, .imagen-3, .imagen-4 {
width: 150px; 
height: auto; 
display: block; 
margin-bottom: 10px;
}

.imagen-carrito {
    width: 40%; 
    max-width: 180px; 
    display: block; 
    margin-bottom: 10px;
}

.buttom-carrito {
    padding: 10px 20px;
    margin: 5px 5px;
    background-color: #48e;
    color: #dddf;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}